<h1>Twitter List to RSS </h1>

<form accept-charset="UTF-8" action="/convert/feed" method="get">

	<label for="q">list url <small>(http://twitter.com/[account]/[list])</small> :</label>
	<input id="q" name="q" type="text" value="http://twitter.com/webisbeautiful_/web-is-beautiful" />
	
	<input name="commit" type="submit" value="get RSS !" />	
	
</form>

<p>you list must be public</p>